@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-100: #050a30;
  --neutral-70: #3e4d6f;
  --neutral-60: #707389;
  --neutral-50: #97a1b5;
  --neutral-10: #ffffff;
}

@layer utilities {
  .clip-triangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 6px;
    height: 6px;
  }

  .event-grid-mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px;
    grid-template-areas:
      "main main"
      "main main"
      "ev1 ev2"
      "ev3 ev4";
  }

  .event-grid-desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px;
    grid-template-areas:
      "main ev1 ev2"
      "main ev3 ev4";
  }
  .grid-main {
    grid-area: main;
  }
  .grid-ev1 {
    grid-area: ev1;
  }
  .grid-ev2 {
    grid-area: ev2;
  }
  .grid-ev3 {
    grid-area: ev3;
  }
  .grid-ev4 {
    grid-area: ev4;
  }
  .truncate-two {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
